@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Raleway:wght@100&display=swap');


:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

button, li, .footer-icons img{
    cursor: pointer;
}

li:hover, .footer-icons img:hover{
    color: var(--Dark-Grayish-Blue);
}

h1, h2, h3{
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--Dark-Grayish-Blue);
}

p{
    color: var(--Dark-Grayish-Blue);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
}



/* HEADER HERE*/

.header{
    background-image: url(../images/bg-header-mobile.png);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header img{
    max-width: 10rem;
}

.header h1{
    font-size: 2rem;
    margin: 2rem 0;
}

.header p{
    margin-bottom: 3rem;
}

.header-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
       
}

button{
   
    padding: 1rem 6rem;
    border: none;
    border-radius: 5rem;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.ios{
    background-color: var(--Grayish-Blue);
}

.ios:hover{
    background-color: var(--Strong-Cyan);
}

.mac{
    background-color: var(--Light-Blue);
}

.mac:hover{
    background-color: var(--Strong-Cyan);
}

/* END HEADER HERE*/


/* SECTION ONE HERE */

.section-one{
    text-align: center;
    padding: 1rem 1.5rem;
    margin-bottom: 5rem;
}

.section-one h2{
    margin-bottom: 1.5rem;
}


/* SECTION ONE ENDS HERE */


/* SECTION TWO HERE */

.section-two{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 1.5rem;
    margin-bottom: 5rem;
    gap: 5rem;
}

.section-two img{
    max-width: 100%;
}

.section-one h2{
    margin-bottom: 1.5rem;
}

.section-two-text{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.section-two-text h3{
   margin-bottom: 1rem;
}


/* SECTION TWO ENDS HERE */

/* SECTION THREE HERE */

.section-three{
    padding: 2rem 1.5rem;
    text-align: center;
    margin-top: 10rem;
}

.section-three h2{
    margin-bottom: 3rem;
}

.section-three p{
    margin-bottom: 5rem;
}

.section-three img{
    max-width: 100%;
}

/* SECTION THREE ENDS HERE */


/* SECTION FOUR HERE */

.section-four{
    padding: 2rem 1.5rem;
    text-align: center;
    margin: 3rem 0;
}

/* SECTION FOUR ENDS HERE */


/* SECTION FIVE HERE */

.section-five{
    padding: 2rem 1.5rem;
    text-align: center;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.section-five-cards h3{
   margin: 2rem 0;
}

/* SECTION FIVE ENDS HERE */

/* SECTION SIX LOGOS HERE */

.section-six-logos{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.section-six-logos img{
    max-width: 50%;
}

/* SECTION SIX LOGOS HERE */

/* SECTION SIX LOGOS HERE */

.section-seven{
    text-align: center;
    padding: 8rem 1.5rem;
    margin-bottom: 5rem;
}

.section-seven h2{
    margin-bottom: 1.5rem;
}

.section-seven p{
    margin-bottom: 2.5rem;
}

/* SECTION SIX LOGOS HERE */

/* FOOTER HERE*/

.footer{
    padding: 2rem 1.5rem;
    background-color: #F5F6F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.footer img{
    max-width: 50%;
}

.footer ul{
    list-style-type: none;
}

.footer ul li{
    margin: 2rem 0;
    font-family: 'Overpass', sans-serif;
    color: var(--Dark-Grayish-Blue);
    letter-spacing: 0.1rem;
}

.footer-icons{
    display: flex;
    gap: 3rem;
}



/* FOOTER ENDS HERE*/

.attribution{
    margin-top: 5rem;
    color: var(--Dark-Grayish-Blue);
    text-align: center;
}

@media screen and (min-width: 1440px){
    .header{
        background-image: url(../images/bg-header-desktop.png);
    }

    .section-two{
        flex-direction: row;
        text-align: left;
        align-items: start;
    }

    .section-two-text{
        margin-top: 2rem;   
    }

    .section-five{
        flex-direction: row;
        margin-bottom: 5rem;
        gap: 3rem;
    }

    .section-five-cards{
        max-width: 450px;
        padding: 3rem 2rem;
        margin: auto;
    }
    .section-six-logos{
        flex-direction: row;
        gap: 10rem;
        align-items: center;
       
        
    }

    .footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-text{
        display: flex;
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 13rem;
    }
}